<!DOCTYPE html>
<html class="dark">
  <head>
    <title><%= content_for?(:title) ? ("#{yield(:title)} - Malachai Frazier").html_safe : "Malachai Frazier" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="title" content="<%= content_for?(:title) ? ("#{yield(:title)} - Malachai Frazier").html_safe : "Malachai Frazier" %>">
    <meta name="description" content="<%= content_for?(:description) ? (yield(:description)) : "Malachai Frazier: Creative. Ruby on Rails Mechanic." %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= content_for?(:title) ? ("#{yield(:title)} - Malachai Frazier").html_safe : "Malachai Frazier" %>">
    <meta property="og:description" content="<%= content_for?(:description) ? (yield(:description)) : "Malachai Frazier: Creative. Ruby on Rails Mechanic." %>">
    <meta property="og:image" content="<%= image_url(content_for?(:meta_image) ? yield(:meta_image) : "https://pbs.twimg.com/profile_images/1774581942937116672/NDdfn15o_400x400.jpg") %>">
    <%= yield :meta %>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="<%= content_for?(:title) ? ("#{yield(:title)} - Malachai Frazier").html_safe : "Malachai Frazier" %>">
    <meta property="twitter:description" content="<%= content_for?(:description) ? (yield(:description)) : "Malachai Frazier: Creative. Ruby on Rails Mechanic." %>">
    <meta property="twitter:image" content="<%= image_url(content_for?(:meta_image) ? yield(:meta_image) : "https://pbs.twimg.com/profile_images/1774581942937116672/NDdfn15o_400x400.jpg") %>">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffe00d">
    <meta name="msapplication-TileColor" content="#ffe00d">
    <meta name="theme-color" content="#ffe00d">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": Rails.env.production? ? "reload" : "" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>

    <%#= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="dark:bg-slate-800 dark:text-white">
    <% if user_signed_in? %>
      <div class="absolute top-0 right-0 px-4 py-2 text-black bg-gold-400">
        <%= button_to "Sign out", session_path, method: :delete %>
      </div>
    <% end %>
    <div class="items-start gap-4 p-8 md:flex md:py-20">
      <a href="/" class="text-6xl font-semibold text-right text-gold-500 hover:text-red-600 w-14">&#9709;</a>
      <div>
        <header class="mb-10 font-serif prose dark:prose-invert max-w-none">
          <h1 class="mb-3 text-6xl font-light tracking-tight">Malachai Frazier</h1>

          <p class="text-xl">
            <%= link_to "Home", root_path %> /  <%= link_to "Projects", projects_path %> / <%= link_to "Articles", articles_path %> / <%= link_to "Books", books_path %>
          </p>
        </header>
        <div class="font-serif prose dark:prose-invert <%= 'max-w-full w-full' if @full_width == true %>">
          <%= yield %>
        </div>
        <footer class="my-12 font-serif text-sm prose text-gray-400 dark:prose-invert">
          <p>
            This lil app is <a href="https://github.com/malachaifrazier/malachaifrazier.com">open source</a> and built with help from ChatGPT, for better or worse.
            &copy; Malachai Frazier <%= Date.today.year %>
          </p>
        </footer>
      </div>
    </div>
    <!-- 100% privacy-first analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html>
